
<!--<div ng-show="showNavbar">-->
<div class="navBar mobile">
    <p id="navPill"><a href="#profile">PROFILE</a></p>
    <p id="navPill"><a href="#home">HOME</a></p>
    <p id="navPill"><a href="#chalk501">CHALK 501</a></p>
    <p id="navPill"><a href="#scoreboard">SCOREBOARD</a></p>
    <form method="POST" action="/login" class="form-signin" id="loginPill">
        <!--<h2 class="form-signin-heading">Please log in</h2>-->
        <!--<label for="inputUsername" class="inputUsername">Username</label>-->
        <input type="text" id="loginUsername" name="username" class="loginUsername" placeholder="USERNAME" required autofocus>
        <!--<label for="inputPassword" class="inputPassword">Password</label>-->
        <input type="password" id="loginPassword" name="password" class="loginPassword" placeholder="PASSWORD" required>
        <button id="loginButton" type="submit">LOG IN</button>
    </form>
</div>
<!--</div>-->