<table class="profileTable table table-bordered">

    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Hat Tricks</th>
        <th>100+</th>
        <th>140+</th>
        <th>180</th>
        <th>Average</th>
        <th>Dead Eyes</th>
        <th>High In</th>
        <th>High Out</th>
        <th>PPD</th>
        <th>Wins</th>
        <th>Total Games</th>

    </tr>

    <tr id="profilestats" ng-repeat="player in profileInfo | orderBy: 'average':true" ng-class="rowClass(player)">
        <td>{{player.firstname}}</td>
        <td>{{player.lastname}}</td>
        <td>{{player.hattricks}}</td>
        <td>{{player._100}}</td>
        <td>{{player._140}}</td>
        <td>{{player._180}}</td>
        <td>{{player.average}}</td>
        <td>{{player.deadeyes}}</td>
        <td>{{player.highin}}</td>
        <td>{{player.highout}}</td>
        <td>{{player.ppd}}</td>
        <td>{{player.wins}}</td>
        <td>{{player.totalgames}}</td>


        <!--<student-profile info="student"></student-profile>-->
    </tr>

</table>